<div class="subnav">
    <!-- container-fluid -->

    <nav class="navbar navbar-expand-lg desk">
        <div class="container">
            <a class="navbar-brand" href="./">
                <img src="assets/images/lg.png" class="slg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item dropdown notifications-menu">
                        <a class="nav-link active dropdown-toggle" href="marketplace" id="walletMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{translator.headers.market}}</a>
                        <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="walletMenuLink">
                            <a href="quickTrade" class="dropdown-item">{{translator.headers.quickTrade}}</a>
                            <a href="marketplace" class="dropdown-item">{{translator.headers.advanceTrade}}</a>
                        </div>
                    </li> -->
                    <li class="nav-item" *ngIf="auth == 0">
                        <a class="nav-link active" href="./">{{translator.headers.quickTrade}}</a>
                    </li>
                    <li class="nav-item" *ngIf="auth == 1">
                        <a class="nav-link active" href="quickTrade">{{translator.headers.quickTrade}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="marketplace">{{translator.headers.market}}</a>
                    </li>
                    <li class="nav-item" *ngIf="auth == 1">
                        <a class="nav-link active" href="home">{{translator.headers.my_account}}</a>
                    </li>
                    <li class="nav-item dropdown notifications-menu" *ngIf="auth == 1">
                        <a class="nav-link active dropdown-toggle" href="wallet" id="walletMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{translator.headers.wallet}}</a>
                        <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="walletMenuLink">
                            <a href="wallet" class="dropdown-item">{{translator.wallet.page.add_funds}}</a>
                            <a href="wallet/withdraw" class="dropdown-item">{{translator.wallet.page.withdraw_funds}}</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown notifications-menu" *ngIf="auth == 1">
                        <a class="nav-link active dropdown-toggle" href="orderHistory" id="orderMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{translator.headers.orders}}</a>
                        <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="orderMenuLink">
                            <a href="orderHistory" class="dropdown-item">{{translator.orders.page.all_orders}}</a>
                            <a href="orderHistory/complete" class="dropdown-item">{{translator.orders.page.completed_orders}}</a>
                            <a href="orderHistory/active" class="dropdown-item">{{translator.orders.page.active_orders}}</a>
                            <a href="orderHistory/cancelled" class="dropdown-item">{{translator.orders.page.cancelled_orders}}</a>
                        </div>
                    </li> -->
                    <li class="nav-item dropdown notifications-menu" *ngIf="auth == 1">
                        <a class="nav-link active dropdown-toggle" href="wallet" id="walletMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{translator.headers.history}}</a>
                        <div class="dropdown-menu dropdown-menu-left dropdown" aria-labelledby="walletMenuLink">
                            <a href="#" data-toggle="modal" data-target="#getWalletField" class="dropdown-item">{{translator.headers.funds_history}}</a>
                            <a class="submenu dropdown-item dropdown-toggle" href="orderHistory" id="orderMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{translator.headers.order_history}}</a>
                            <div class="submenu dropdown-menu dropdown-menu-left dropdown" aria-labelledby="orderMenuLink">
                                <a href="orderHistory" class="dropdown-item">{{translator.orders.page.all_orders}}</a>
                                <a href="orderHistory/complete" class="dropdown-item">{{translator.orders.page.completed_orders}}</a>
                                <a href="orderHistory/active" class="dropdown-item">{{translator.orders.page.active_orders}}</a>
                                <a href="orderHistory/cancelled" class="dropdown-item">{{translator.orders.page.cancelled_orders}}</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="help">{{translator.headers.help}}</a>
                    </li>
                </ul>

                <span class="navbar-text">
                    <ul class="nav">
                        <li class="nav-item position-relative" *ngIf="auth == 1">
                            <a href="notifications" class="mx-c2">
                                <i class="far fa-bell x15"></i>
                                <span *ngIf='notificationCount > 0' class="noti">{{notificationCount}}</span> 
                            </a>
                        </li>
                        <div class="nav-item dropdown notifications-menu" *ngIf="auth == 1">
                            <a class="btn btn-primary-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog x15"></i></a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="profile"><span  style="color: black;">{{translator.headers.profile}}</span></a>
                                <a class="dropdown-item" href="profile/passwords"><span  style="color: black;">{{translator.headers.passwords}}</span></a>
                                <a class="dropdown-item" href="profile/documents"><span  style="color: black;">{{translator.headers.documents}}</span></a>
                                <a class="dropdown-item" href="profile/accounts"><span  style="color: black;">{{translator.wallet.page.bankAccount}}</span></a>
                                <a class="dropdown-item" href="settings"><span  style="color: black;">{{translator.headers.options}}</span></a>
                            </div>
                        </div>
                        <li class="nav-item" *ngIf="auth == 1">
                            <a  href="logout" class="ml-c2">{{translator.headers.logout}}</a>
                        </li>
                        <li class="nav-item" *ngIf="auth == 0">
                            <a class="ml-c2" href="login">{{translator.headers.login}}</a>
                        </li>
                        <li class="nav-item" *ngIf="auth == 0">
                            <a class="ml-c2 btn-yellow-line ml-2" href="signup">{{translator.headers.signup}}</a>
                        </li>
                        <div class="nav-item dropdown notifications-menu">
                            <app-header-location></app-header-location>
                        </div>
                    </ul>             
                </span>
            </div>
        </nav>
        </div>
    

    <div class="col-12 px-4">
        <div class="d-flex justify-content-between align-items-center mb-3 mobile">
            <div class="p-2 text-center">
                <a href="#" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-expanded="false">
                    <div class="mmv"><i class="fa fa-bars x18"></i></div>
                    <small>{{translator.common.menu}}</small>
                </a>
            </div>
            <div class="p-2"><img src="assets/images/lg.png" class="slg" alt=""></div>
            <div class="p-2  position-relative">
                <a href="notifications">
                    <i class="far fa-bell x15"></i>
                    <span *ngIf='notificationCount > 0' class="noti">{{notificationCount}}</span> 
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="auth == 1">
                    <a class="nav-link" href="quickTrade">{{translator.headers.quickTrade}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 0">
                    <a class="nav-link" href="./">{{translator.headers.quickTrade}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="marketplace">{{translator.headers.market}}</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="ml-c2" href="marketplace">{{translator.headers.advanceTrade}}</a>
                </li> -->
                <li class="nav-item" *ngIf="auth == 1">
                    <a class="nav-link active" href="home">{{translator.headers.my_account}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a class="nav-link" href="wallet">{{translator.headers.wallet}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="wallet" class="ml-c2">{{translator.wallet.page.add_funds}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="wallet/withdraw" class="ml-c2">{{translator.wallet.page.withdraw_funds}}</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="wallet/cards" class="ml-c2">{{translator.wallet.page.cards}}</a>
                </li> -->
                <li class="nav-item" *ngIf="auth == 1">
                    <a [routerLink]="" class="nav-link">{{translator.headers.history}}</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-toggle="modal" data-target="#getWalletField" class="ml-c2">{{translator.headers.funds_history}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="orderHistory" class="ml-c2">{{translator.headers.order_history}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="orderHistory/complete" class="ml-c2">{{translator.orders.page.completed_orders}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="orderHistory/active" class="ml-c2">{{translator.orders.page.active_orders}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="orderHistory/cancelled" class="ml-c2">{{translator.orders.page.cancelled_orders}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">{{translator.headers.help}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a class="nav-link" href="profile">{{translator.headers.options}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="profile/passwords" class="ml-c2">{{translator.headers.passwords}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="profile/documents" class="ml-c2">{{translator.headers.documents}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="profile/accounts" class="ml-c2">{{translator.wallet.page.bankAccount}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a href="settings" class="ml-c2">{{translator.headers.options}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 0">
                    <a class="nav-link" href="login">{{translator.headers.login}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 0">
                    <a class="nav-link" href="signup">{{translator.headers.signup}}</a>
                </li>
                <li class="nav-item" *ngIf="auth == 1">
                    <a class="nav-link" href="logout">{{translator.headers.logout}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>